<h1>Edit Recipe</h1>
<h3><%= @recipe.name %>: <input type="text" name="name" placeholder="<%= @recipe.name %>"></h3>
<h3><%= @recipe.ingredients %>: <input type="text" name="name" placeholder="<%= @recipe.ingredients %>"></h3>
<h3><%= @recipe.cook_time %>: <input type="text" name="name" placeholder="<%= @recipe.cook_time %>"></h3>
